<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Check Prices
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="create()">
        Create
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Check Prices</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12">

        <ion-list>
          
          <ion-item-sliding *ngFor="let f of files.files; let i=index">
            <ion-item>
              <ion-col size="3">
                <ion-icon name="search" (click)="viewFile(f)"></ion-icon>
              </ion-col>
              <ion-col size="6" (click)="scanner(f)">
                <p>{{ f?.name }}</p>
              </ion-col>
              <ion-col size="3" (click)="scanner(f)">
                <p>{{ f?.mtime | date }}</p>
              </ion-col>
            </ion-item>

            <ion-item-options side="start">
              <ion-item-option (click)="deleteFromDocuments(f)" color="danger">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
            
          </ion-item-sliding>

        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="pickFile()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>